{% extends 'social/base.html' %}
{% load static %}
{% block content %}
<div class="edit-container">
    <h1>Delete Account</h1>
    <p class="redirect-text">Are you sure you want to permanently delete your account? This action cannot be undone.</p>
    <br>
    <form method="POST" class="edit-post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="danger-button">Delete Account</button>
        <br>
        <a href="{% url 'settings' %}" class="cancel-button"> Cancel </a>
    </form>
</div>
{% endblock content %}