{% extends 'social/base.html' %}
{% load static %}
{% block content %}
    <!-- Back to Profile Button -->
    <div>
        <a href="{% url 'profile' profile.pk%}" class="back-to-feed-btn">
            ← Back to Profile
        </a>
    </div>

    <section id="followers-list">
        {% if profile.name %}
            <h2 class="followers-title">Following of {{ profile.name }}</h2>
        {% else %}
            <h2 class="followers-title">Following of @{{ profile.user.username }}</h2>
        {% endif %}
        <div class="followers-container">
            {% for following in followings %}
                <div class="follower-card">
                    <a href="{% url 'profile' following.profile.pk %}">
                        <div class="follower-info">
                            {% if following.profile.picture %}
                                <img src="{{ following.profile.picture.url }}" alt="Profile Picture" class="follower-img">
                            {% else %}
                                <img src="{% static 'asset/images/profile.jpg' %}" alt="Profile Picture" class="follower-img">
                            {% endif %}
                            <div class="follower-details">
                                <h3 class="follower-name">{{ following.profile.name|default:following.username }}</h3>
                                <p class="follower-bio">{{ following.profile.bio|default:"No bio available" }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
                <p class="red">No following found.</p>
            {% endfor %}
        </div>
    </section>
{% endblock content %}