{% extends 'social/base.html' %}
{% load static %}
{% block content %}
<div class="edit-container">
    <h1>Delete Post</h1>
    <form method="POST" class="edit-post-form">
        {% csrf_token %}
        <p class="redirect-text"> Are you sure you want to delete this post?</p>
        <br>
        <button type="submit" class="danger-button">Delete Post</button>
        <br>
        <a href="{% url 'profile' user.profile.pk%}" class="cancel-button"> Cancel </a>
    </form>
</div>
{% endblock content %}