{% extends 'partials/base1.html' %}
{% load static %}
{% block content %}
<main class="main-background">
    <div class="form-section">
        <h2>Change Password</h2>
        <!-- Error Display Div -->
        {% if form.errors %}
            <div class="alert alert-error">
                <!-- Loop through the form errors -->
                {% for error in form.non_field_errors %}
                    <strong>{{ error }}</strong><br>
                {% endfor %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <strong>{{ error }}</strong><br>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Manual rendering of form fields -->
            <div class="form-group">
                {{ form.old_password.label_tag }} <!-- Label -->
                {{ form.old_password }}           <!-- Field Input -->
            </div>
            <div class="form-group">
                {{ form.new_password1.label_tag }} <!-- Label -->
                {{ form.new_password1 }}           <!-- Field Input -->
            </div>
            <div class="form-group">
                {{ form.new_password2.label_tag }} <!-- Label -->
                {{ form.new_password2 }}           <!-- Field Input -->
            </div>

            <button type="submit" id="save-password" class="btn">Save Password</button>
        </form>
    </div>
</main>
{% endblock content %}
